/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* ===========================comun class======================= */
* {
    font-family: arial, sans-serif;
}
.mot {
    border: 1px solid lightgrey;
    margin: 0% 1%;
    background-color: white;
    font-size: 15px;
    padding-left: 1%;
}
/*=======================start up-right main=========================*/
.nassim {
    width: 10%;
    height: 5vh;
    border-radius: 20px;
    border:2px solid rgb(13, 159, 196);
    padding: 6px 0px;
    background-color: white;
    color: rgb(13, 159, 196); 
}
.form {    
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
p {
    /* margin-left: 46%; */
    margin-top: 0%;
    color: #999;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-left: 7%;
}
/*=====================end up-right main=========================*/

/*======================start main===========================*/
main {
    width: 100%;
    height: 90vh;
    display: flex;
}
/* ==================start main right====================== */
.see {
    max-width: 47%;
    height: 50vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.mainDBas {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.mainD {
    width: 50%;
    height: 90vh;
}
h1 {
    font-size: 28px;
}
fas fa-search, fa-users, fa-comment {
    color: white;
}

.faw {
    width: 10%;
    height: 5vh;
    font-size: 2em;
    text-align: center;
    margin-top: 3%;
}
/* ==================start button-down====================== */

.in, .upButton {
    border-radius: 20px;
    width: 97%;
    height: 35px;
    border:1px solid rgb(13, 159, 196);

}

.upButton {
	background: rgb(17, 172, 210);
	color: white;
    border-radius: 20px;
    padding: 6px 0px; 
}

.iconoise {
    width: 15%;
}
.in {
    padding: 6px 0px; 
	background: white;
	color: rgb(13, 159, 196);
    margin-top: 5%;
}
/* ==================end button-down====================== */

/* ==================end main right====================== */

/* ==================start main left====================== */
.mainG {
    width: 50%;
    min-height:90vh;
    background-image: url(../img/twitter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fd {
    width: 50%;
    height: 450px;
    background-position: left;
    
}

.join {
    width: 90%;
    height: 40px;
    display: flex;
    margin-top: 15%;
    margin-bottom: 5%;
}

main> section> article {
    width: 50%;
    display: flex;
    color: white;
    justify-content: left;
    text-align: start;
    font-size: 12px;
    margin-bottom: 2%;
}

article> h2 {
    padding-left: 2%;
}
/* ==================end main left====================== */

/*=======================end main============================*/

/*======================start footer=========================*/
footer {
    border: 1px solid rgb(206, 206, 214);
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-evenly;
    color: rgb(212, 200, 200);    
}
/*========================end footer=========================*/










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
